/*
Allmänt
*/

*
{
	font-family: Calibri, Arial, Serif !important;
}

body, html
{
}

.btn-block
{
	cursor: pointer;
}

/*
Navbar
 */

.navbar
{
	margin-bottom: 40px;
}


/*
Index
 */

#index
{
}

/*
Calendar
 */

#calendar.container
{
	width: 100% !important;
}

.seven-cols .col.pancakes
{
	background: url("/images/pancakes.jpg") no-repeat center;
	background-size: contain;
	text-align: center;
}

.seven-cols .col.meatballs
{
	background: url("/images/meatballs.jpg") no-repeat center;
	background-size: contain;
	text-align: center;
}

.seven-cols:first-of-type
{
	background-color: #343a40;
	color: #FFF;
}

.seven-cols:first-of-type .col
{
	height: auto;
}

.seven-cols:first-of-type .col p
{
	margin-top: 2px;
	margin-bottom: 2px;
}

.seven-cols .col
{
	text-align: center;
}

.seven-cols
{
	border-bottom: 1px solid #343a40;
}

.seven-cols .col
{
	border-left: 1px solid #343a40;
}

.seven-cols .col:last-of-type
{
	border-right: 1px solid #343a40;
}

/*
Gör hela rutan klickbar
*/
.seven-cols .col a
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


/* Så att vi kan använda 7 kolumner i Bootstrap ist för 12 */
@media (min-width: 576px)
{
	.seven-cols .col
	{
		width: calc(100% / 7);
		height: 100px;
	}
}

@media (max-width: 380px)
{
	.seven-cols .col
	{
		padding-right: 5px;
		padding-left: 5px;
	}
}

.help-block
{
	color: #c0392b;
}

/*
Login
 */

#login
{
}

/*
Register
 */

#register
{
}

/*
recipe
 */

#recipe .comment-create button
{
	margin-bottom: 40px;
}

#recipe h3
{
	margin-top: 20px;
}

#recipe .list-inline
{
	background-color: #FFF;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.125);
	margin-top: 20px;
}

#recipe button
{
	cursor: pointer;
}